body {
    margin: 0;
    padding: 0;
    background: #007A8D;
    font-family: Arial, sans-serif;
    color: white;
}

.topo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.perfil {
    font-size: 24px;
}

.filtros {
    display: flex;
    gap: 10px;
    padding: 10px 30px;
    flex-wrap: wrap;
}

.botao-filtro {
    background: none;
    border: 1px solid white;
    padding: 10px 16px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.titulo {
    padding: 20px;
    font-size: 22px;
}

.barra-busca {
    background: white;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.barra-busca input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

.buscar {
    padding: 10px 20px;
    background: #007A8D;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

.card {
    background: white;
    color: black;
    border-radius: 12px;
    width: 220px;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px #0004;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
    font-size: 18px;
}

.card p {
    padding: 0 10px;
    font-size: 14px;
    color: #333;
}

.preco {
    padding: 10px;
    font-weight: bold;
    display: block;
}

.botao {
    margin-left: 35px;
    padding: 8px 37px;
    border: none;
    background: #0095FF;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
